.footer {
  padding: 50px 0 45px;
  width: 100%;
  color: $sub-white;
  background-color: $main-black;

  @media (max-width: $desktop-width) {
    padding: 55px 0 65px;
  }
}

.footer__wrapper {
  display: flex;
  width: 100%;
  max-width: 1220px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    padding: 0 45px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

.footer__logo-link {
  display: grid;
  align-self: flex-start;
  margin-right: auto;
  min-width: 215px;
  grid-template-columns: 55px 1fr;
  gap: 15px;
  margin-bottom: 15px;

  @media (max-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.footer__logo {
  fill: $main-light-blue;
}

.footer__logo-text {
  p {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
  }

  span {
    font-family: $roboto;
    color: rgba($sub-white, 0.7);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}

.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    grid-column: 1 / -1;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 150px;
  width: 100%;
  justify-content: space-between;
}

.footer__social-item {
  flex-grow: 1;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:hover,
    &:focus {
      svg {
        fill: $main-light-blue;
      }
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: $background-main-white;
    color: $main-black;
  }
}

.footer__navigation {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  margin: 0 15px;

  h3 {
    margin: 0;
    font-family: $roboto-condensed;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
  }
}

.footer__navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: inherit;
  width: 100%;
  columns: 220px 2;
  column-gap: 30px;
  column-fill: auto;
  height: 100%;
}

.footer__navigation-item {
  display: block;
  margin-bottom: 10px;

  a {
    color: rgba($sub-white, 0.7);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $sub-white;
    }
  }
}

.footer__address-wrapper {
  width: 100%;
  max-width: 345px;
  margin-left: auto;

  h3 {
    margin: 0;
    font-family: $roboto-condensed;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  a {
    margin: 0 0 10px;
    color: rgba($sub-white, 0.7);
    text-decoration: none;
    display: block;

    &:hover,
    &:focus {
      color: $sub-white;
    }
  }
}

.footer__tel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
