.footer {
  padding: 50px 0 45px;
  width: 100%;
  color: $sub-white;
  background-color: $main-black;

  @media (max-width: $desktop-width) {
    padding: 55px 0 65px;
  }

  @media (max-width: $tablet-width) {
    padding: 35px 0;
  }
}

.footer__wrapper {
  display: flex;
  width: 100%;
  max-width: 1220px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;

  ul {
    box-sizing: border-box;
  }

  @media (max-width: $desktop-width) {
    padding: 0 45px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    gap: unset;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.footer__logo-link {
  display: grid;
  align-self: flex-start;
  margin-right: auto;
  min-width: 215px;
  grid-template-columns: 55px 1fr;
  gap: 15px;
  margin-bottom: 15px;

  @media (max-width: $desktop-width) {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto 15px;
  }
}

.footer__logo {
  fill: $main-light-blue;
}

.footer__logo-text {
  p {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
  }

  span {
    font-family: $roboto;
    color: rgba($sub-white, 0.7);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}

.footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    grid-column: 1 / -1;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 0 25px;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 150px;
  width: 100%;
  justify-content: space-between;
}

.footer__social-item {
  flex-grow: 1;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:hover,
    &:focus {
      svg {
        fill: $main-light-blue;
      }
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: $background-main-white;
    color: $main-black;
  }
}

.footer__list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;

  &--navigation {
    max-width: 470px;
    margin: 0 30px 0;
  }

  &--contacts {
    margin-right: 0;
    max-width: 345px;
  }

  h3 {
    margin: 0;
    font-family: $roboto-condensed;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  a {
    color: rgba($sub-white, 0.7);
    text-decoration: none;
  }

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(248, 253, 255, 0.7);

    &:last-of-type {
      border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    }

    h3 {
      padding: 22px 25px;
      margin: 0;
    }
  }
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: inherit;
  width: 100%;
  height: 100%;

  &--navigation {
    columns: 220px 2;
    column-gap: 30px;
    column-fill: auto;
  }

  @media (max-width: $tablet-width) {
    display: none;

    &--no-js {
      display: block;
      padding: 0 25px;
      margin-bottom: 20px;
    }

    &--opened {
      display: block;
      padding: 0 25px;
      margin-bottom: 20px;
    }

    &--navigation {
      columns: 1;
    }
  }
}

.footer__item {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 14px;
  }
}

.footer__accordion-button {
  display: none;

  @media (max-width: $tablet-width) {
    &--no-js {
      display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    top: 20px;
    right: 26px;
  }
}
