.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  color: $main-white;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.header__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1250px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 15px 35px;

  form {
    margin: 5px 60px 0 auto;
    align-self: flex-start;
  }

  @media (max-width: $desktop-width) {
    padding: 20px 70px 25px 50px;

    form {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 15px 35px 20px 26px;
  }
}

.header__logo-link {
  text-decoration: none;
  color: $main-white;
  margin-right: auto;
  align-self: flex-start;
  min-width: 215px;

  @media (max-width: $tablet-width) {
    display: block;
    min-width: unset;
    width: 35px;
    height: 35px;
  }
}

.header__logo {
  fill: $main-light-blue;
  color: $main-white;

  &--mobile {
    display: none;
  }

  @media (max-width: $tablet-width) {
    width: 35px;
    height: 35px;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  width: 100%;
  justify-content: space-between;
  margin: 0 17px 12px 13px;

  a {
    display: flex;
    max-width: 225px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: $main-white;

    &:hover,
    &:focus {
      color: $main-light-blue;

      @media (max-width: $desktop-width) {
        svg {
          fill: $sub-white;
        }
      }
    }

    span {
      margin-left: 15px;
    }

    svg {
      fill: $main-light-blue;
    }
  }

  @media (max-width: $desktop-width) {
    margin: 0;
    justify-content: flex-end;
    max-width: 200px;

    a {
      width: 40px;
      height: 40px;
      justify-content: center;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 160px;
    width: auto;

    a {
      padding-top: 5px;
    }
  }
}


.header__button {
  border: 1px solid $main-white;
  min-height: 38px;

  &:hover,
  &:focus {
    cursor: pointer;
    border: none;
    background-color: $sub-white;
    color: $main-black;
  }
}
