.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  color: $main-white;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.header__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 15px 35px;

  @media (max-width: $desktop-width) {
    padding: 20px 70px 25px 50px;
  }
}

.header__logo-link {
  display: grid;
  margin-right: auto;
  align-self: flex-start;
  min-width: 215px;
  grid-template-columns: 55px 1fr;
  gap: 15px;
}

.header__logo {
  fill: $main-light-blue;
}

.header__logo-text {
  p {
    font-family: $roboto-condensed;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
  }

  span {
    font-family: $roboto;
    color: rgba($sub-white, 0.7);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  width: 100%;
  justify-content: space-between;
  margin: 0 15px;

  a {
    display: flex;
    max-width: 225px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: $main-white;

    &:hover,
    &:focus {
      color: $main-light-blue;

      @media (max-width: $desktop-width) {
        svg {
          fill: $sub-white;
        }
      }
    }

    span {
      margin-left: 15px;
    }

    svg {
      fill: $main-light-blue;
    }
  }

  @media (max-width: $desktop-width) {
    margin: 0;
    justify-content: flex-end;
    max-width: 200px;

    a {
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;

      span {
        display: none;
      }
    }
  }
}

.header__button {
  border: 1px solid $main-white;
  margin-left: auto;

  &:hover,
  &:focus {
    cursor: pointer;
    border: none;
    background-color: $sub-white;
    color: $main-black;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}
