.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $main-black;
  background-color: $background-main-white;
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
