// colors
$main-white: #f2f5f6;
$main-black: #041827;
$main-light-blue: #00b2ff;
$background-main-white: #f8fdff;
$main-grey: #ebebeb;
$sub-white: #ffffff;
$main-dark-blue: #041427;

// fonts
$roboto: "roboto", "Arial", sans-serif;
$roboto-condensed: "roboto condensed", "Arial", sans-serif;
$pt-mono: "PT mono", "Arial", sans-serif;

// display
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 319px;
